.IconButton {
    border: none;
    color: #333;
    background-color: transparent;
    font-size: 30px;
    margin-right: 10px;
}

.IconButton:hover,
.IconButton[enabled] {
    color: #555;
    cursor: pointer;
}

.IconButton:active,
.IconButton[enabled] {
    color: #777;
}

.IconButton:disabled,
.IconButton[disabled] {
    color: #ccc;
}
